sudo: false
language: php
php:
  - 7.1
  - 7.2
  - 7.3
matrix:
  fast_finish: true
install:
  # - export PATH="$HOME/.composer/vendor/bin:$PATH"
  - composer self-update
  - composer install --prefer-source --no-interaction --dev
cache:
  directories:
    - $HOME/.composer/cache/files
script:
  - composer validate --no-check-lock
  - phpunit
notifications:
  on_success: never
  on_failure: always